<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\Users\Miguel\Dropbox\Tecnologías Proyecto\UvManServer\Pacman\App_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="PersistenciaContainer"
      connectionString="metadata=res://*/Persistencia.csdl|res://*/Persistencia.ssdl|res://*/Persistencia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CP3FMOK\SQLEXPRESS;initial catalog=DBUvMan;user id=UvManServer;password=chinoEsElMejor13129899;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <diagnostics performanceCounters="Default">
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtTransportLevel="true" />
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="SessionService.Servicio.SessionService">
        <endpoint address="" binding="netTcpBinding" contract="SessionService.Contrato.ISessionService" bindingConfiguration="SinSeguridad">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:7972/SessionService"/>
            <add baseAddress="http://localhost:7982/SessionService"/>
          </baseAddresses>
        </host>
      </service>
      <service name="GameChatService.Servicio.ChatService">
        <endpoint address="" binding="netTcpBinding" contract="GameChatService.Contrato.IChatService" bindingConfiguration="SinSeguridad">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8192/ChatService"/>
            <add baseAddress="http://localhost:8182/ChatService"/>
          </baseAddresses>
        </host>
      </service>
      <service name="CuentaService.Servicio.CuentaService" >
        <endpoint address="" binding="netTcpBinding" contract="CuentaService.Contrato.ICuentaService" bindingConfiguration="SinSeguridad">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8092/CuentaService"/>
            <add baseAddress="http://localhost:8082/CuentaService"/>
          </baseAddresses>
        </host>
      </service>
      <service name="GameService.Servicio.GameService">
        <endpoint address="" binding="netTcpBinding" contract="GameService.Contrato.IGameService" bindingConfiguration="SinSeguridad">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8292/GameService"/>
            <add baseAddress="http://localhost:8382/GameService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="SinSeguridad" closeTimeout="01:00:00">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>